.studio-home {
  margin: 3rem 1.5rem 1.5rem;

  .help-sidebar {
    margin-top: 0;
  }

  .studio-home-sub-header {
    margin-bottom: 2rem;
  }
}

.organization-section {
  margin-bottom: 2.25rem;

  .organization-section-title {
    color: $black;
  }

  .organization-section-form {
    margin: $spacer 0 -8px;

    .organization-section-form-label {
      color: $gray-700;
      margin-bottom: 0;
      margin-right: .75rem;
    }

    .organization-section-form-control {
      border-color: $gray-500;

      .form-control {
        font-size: .875rem;
        line-height: 1.5rem;
        height: 2.75rem;
      }
    }
  }
}

.studio-home-tabs {
  display: block;
  border: none;
  margin-bottom: 1.625rem;

  .nav-link {
    border-bottom: .125rem solid $light-400;
  }

  .nav-link.active {
    background-color: transparent;
  }
}

.courses-tab {
  margin: 1.625rem 0;
}

.card-item.card {
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.02);
  background:#fff;

  &:nth-child(3n) {
    margin-right:0px;
  }
  
  .pgn__card-header {
    display:block;
    padding: .9375rem 1.25rem;

    .pgn__card-header-content {
      margin: 0;
      overflow: hidden;
    }

    .pgn__card-header-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-top:.9375rem;
      .pgn__action-row {
        justify-content:flex-start;
      }
      .pgn__hyperlink {
        background:#EEEFEF;
        color:#000;
        display:inline-block;
        padding:6px 20px;
        border-radius:0.375rem;
        border:1px solid #EEEFEF;
        &:hover {
          border:1px solid #27304D;
          text-decoration: none;
          background:#27304d;
          color:#fff;
          transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
        }
      }
    }
  }

  .card-item-title {
    font: normal $font-weight-normal 1.125rem/1.75rem;
    color: $black;
    margin-bottom: .1875rem;
  }

  .pgn__card-header-subtitle-md {
    font: normal $font-weight-normal .75rem/1.25rem;
    color: $gray-700;
    margin: 0;
  }
}

.spinner-icon {
  animation: rotate 2s infinite linear;
}

.alert.no-data {
  box-shadow:0px 15px 10px rgba(0, 0, 0, 0.02);
  background-color:#fff;
}
